.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-decoration-none{
  text-decoration: none!important;
}

.w-100 {
  width: 100% !important;
}
.br-card {
:first-child{
    color: #0C326F!important;
  }
  .card-header{
    color: #1351B4!important;

  }

}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex:1;
  align-items: center;
  justify-content: center;
}


.rdp-month_grid thead tr th {
  text-align: center;
}


.rdp-day{
  padding:0;
}
/* Evita overflow em telas menores */
.ferias-daypicker table {
  width: 100%;
}
.ferias-daypicker {
  --rdp-accent-color: #1351B4!important;
  --rdp-background-color: #E7F0FA!important;
  --rdp-accent-color-dark: #0C326F!important;
}

/* Dia selecionado */
.ferias-daypicker .rdp-day_selected,
.ferias-daypicker .rdp-day_range_start,
.ferias-daypicker .rdp-day_range_end {
  background-color: #1351B4!important;
  color: #fff!important;
  font-weight: 600!important;
}

/* Intervalo */
.ferias-daypicker .rdp-day_range_middle {
  background-color: #E7F0FA!important;
  color: #1351B4!important;
}
.header-logo {
  width: 50px;
}

.header-title{
  font-weight: bold;
}