.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-decoration-none{
  text-decoration: none!important;
}

.w-100 {
  width: 100% !important;
}
.br-card {
:first-child{
    color: #0C326F!important;
  }
  .card-header{
    color: #1351B4!important;

  }

}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex:1;
  align-items: center;
  justify-content: center;
}